/* dùng font Nunito trên mạng */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

 

/* Begin reset */

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

 

img { display: block; }

 

/* End reset */

 

/* Utility classes */

.nowrap {

    white-space: nowrap;

}

 

.offscreen {

    position:absolute;

    left: -10000px;

}

/* End utility classes */

 

body {

    font-family: Nunito, sans-serif;

    min-height: 100vh;

    background-color: aliceblue;

    background-image: url("img/bubble1.png"), linear-gradient(to left,steelblue, #fff);

    background-repeat: repeat-y, no-repeat;

    background-position: right center;

    background-size: 10%, auto;

}

 

.container {

    background-color: rgb(251, 210, 156);

    background-image:url("img/dalat.jpg");

    background-size: cover;

}

 

.cv {

    border-bottom: 2px solid #000;

    padding: 20px;

    display: flex;

    justify-content: flex-start;

    align-items: center;

    gap: 30px;

    background-color:hsla(0, 0%, 100%, 0.35);

}

 

.h1 {

    font-size: 500%;

    color: #fff;

    text-shadow: 2px 2px 5px #000;

    /* background-color:hsla(0, 0%, 0%, 0.41);

    padding: 0.25rem;

    border-radius: 10px; */

}

 

.profile-pic-figure {

    width: 35%;

}

 

.profile-pic-figure img {

    width: 100%;

    height: auto;

    min-width: 100px;

    border: 5px double gray;

    border-radius: 50%;

}